<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 13 reads localeConfig. Older devices use the in-app language picker. -->
    <application
        android:name=".survivor.GameApplication"
        tools:ignore="UnusedAttribute"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Componentory">
        <!-- Explicit initialization keeps unconfigured builds from starting the game SDK. -->
        <provider android:name="com.google.android.gms.games.provider.PlayGamesInitProvider" tools:node="remove" />
        <activity android:name="com.google.android.gms.games.internal.v2.appshortcuts.PlayGamesAppShortcutsActivity" tools:node="remove" />
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/game_services_project_id" />
        <meta-data android:name="com.google.android.gms.games.SUPPRESS_GAME_PROFILE_CREATION" android:value="true" />
        <!-- A portrait home screen or app rotates the display while the game waits in the
             background. Handling size changes in place keeps the running battle and its pause
             menu instead of recreating the Activity and dropping back to the title screen. -->
        <activity
            android:name=".survivor.SurvivorActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:resizeableActivity="true" />
        <!-- The three inline demo components are disabled by resources below API 30. -->
        <activity
            android:name=".lab.inline.InlineDemoActivity"
            android:enabled="@bool/inline_demo_enabled"
            tools:targetApi="30"
            android:exported="false"
            android:label="@string/component_inline_content_view"
            android:windowSoftInputMode="adjustResize" />
        <service
            android:name=".lab.inline.InlineDemoAutofillService"
            android:enabled="@bool/inline_demo_enabled"
            tools:targetApi="30"
            android:exported="true"
            android:label="@string/inline_keyboard_title"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter><action android:name="android.service.autofill.AutofillService" /></intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/inline_autofill_service" />
        </service>
        <service
            android:name=".lab.inline.InlineDemoInputMethodService"
            android:enabled="@bool/inline_demo_enabled"
            tools:targetApi="30"
            android:exported="true"
            android:label="@string/inline_keyboard_title"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/inline_input_method" />
        </service>
        <activity
            android:name=".lab.ActionBarSampleActivity"
            android:exported="false"
            android:label="@string/component_action_bar"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Componentory"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
