<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Android 13 reads localeConfig. Older devices use the in-app language picker. -->
    <application
        tools:ignore="UnusedAttribute"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Componentory">
        <activity
            android:name=".survivor.SurvivorActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:resizeableActivity="true" />
        <!-- The three inline demo components are disabled by resources below API 30. -->
        <activity
            android:name=".lab.inline.InlineDemoActivity"
            android:enabled="@bool/inline_demo_enabled"
            tools:targetApi="30"
            android:exported="false"
            android:label="@string/component_inline_content_view"
            android:windowSoftInputMode="adjustResize" />
        <service
            android:name=".lab.inline.InlineDemoAutofillService"
            android:enabled="@bool/inline_demo_enabled"
            tools:targetApi="30"
            android:exported="true"
            android:label="@string/inline_keyboard_title"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter><action android:name="android.service.autofill.AutofillService" /></intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/inline_autofill_service" />
        </service>
        <service
            android:name=".lab.inline.InlineDemoInputMethodService"
            android:enabled="@bool/inline_demo_enabled"
            tools:targetApi="30"
            android:exported="true"
            android:label="@string/inline_keyboard_title"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/inline_input_method" />
        </service>
        <activity
            android:name=".lab.ActionBarSampleActivity"
            android:exported="false"
            android:label="@string/component_action_bar"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Componentory"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
